{% extends 'base.html' %}

{% block title %}Новости{% endblock %}




{% block content %}



<div class="container my-4">
    <h2>Все новости</h2>
    {% if user.is_authenticated and perms.sites.add_news %}
  <a href="{% url 'news_add' %}" class="btn btn-success mb-3">
    + Добавить новость
  </a>
{% endif %}

    {% for n in news %}
    <div class="border p-3 rounded mb-3 bg-white">
        <h4><a href="/news/{{ n.id }}/">{{ n.title }}</a></h4>
        <small class="text-muted">{{ n.date }}</small>
        <p>{{ n.teaser }}</p>
    </div>
    {% endfor %}

</div>

{% if is_paginated %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if p == page_obj.number %}
                <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперёд</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
