# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
.env

# Django
/static/
media/

# =========================
# Crawling / mirroring
# =========================
mirror/
crawl*.log
urls_*.txt

# =========================
# OS / IDE
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Node / frontend (если будет)
# =========================
node_modules/